 <div class="table-responsive"> 
	<table  class="table">
		<thead ng-style="{'color':config.TextColor}" ng-hide="config.hideHeader">
		  <tr>
			<th ng-show="config.ShowAlternativeName">
				<b>Name</b>
			</th>
			 <th ng-show="config.ShowAttribute" >
				 <b>Attribute</b>
			</th>
			 <th ng-show="config.ShowTimestamp">
				 <b>Timestamp</b>
			</th>
			 <th>
				 <b>Enter Value</b>
			</th>
			 <th ng-show="config.ShowCurrentValue">
				 <b>Current Value</b>
			</th>
			 <th>
				<b>Select All</b>
				<input type="checkbox" style="vertical-align: middle;" ng-model="runtimeData.isAllSelected" ng-change="toggleAll()"/>
			 </th>
		  </tr>
		</thead>
		<tbody ng-style="{'color': config.TextColor}">
			<tr ng-repeat="stream in runtimeData.streamList">
				<td ng-show="config.ShowAlternativeName" class="col-text">
					<input type="text" ng-model="stream.AlternativeName" ng-change="config.AlternativeNames[$index] = stream.AlternativeName" ng-style="{'color': config.TextColor}" class="alt-name"/>
				</td>
				<td ng-show="config.ShowAttribute" class="col-text">
					{{stream.Label}}
				</td>
				<td ng-show="config.ShowTimestamp" class="col-input">
					<input type="text" ng-model="stream.InputTimestamp"/>
				</td>
				<td class="col-input">
					<input ng-if="!stream.IsDigital" type="stream.Type" ng-model="stream.InputValue" ng-style="{'width': config.InputValueWidth, 'max-width': '300px'}" />
					<select ng-if="stream.IsDigital" ng-options="option.Name for option in stream.DigitalStates track by option.Value" 
							ng-model="stream.InputValue" ng-style="{'width': config.InputValueWidth, 'max-width': '300px'}"></select>
				</td>
				<td ng-show="config.ShowCurrentValue" class="col-text">
					{{stream.CurrentValue}} {{stream.UOM}}
				</td>
				<td>
					<input type="checkbox" ng-model="stream.IsSelected" ng-change="toggleStreamSelection()"/>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<button class="send-button" ng-click="sendValues()" ng-disabled="!isButtonEnabled" ng-style="{ 'background-color': config.BackgroundColor,
																							'color': config.ButtonTextColor,
																							'width': config.ButtonWidth, 
																							'height': config.ButtonHeight, 
																							'opacity': isButtonEnabled ? '1' : '0.65'}">
	<img src="Scripts/app/editor/symbols/ext/Icons/loading.gif" ng-show="loading" />
	{{config.ButtonText}}
</button>
