<ul kendo-panel-bar class="t-side-panel-bgcolor" style="font-size: 14px;">
    <li class="k-state-active">
        <span class="panel-bar-label-no-wrap">General</span>

		<div class="config-option-single-row" style="margin:10px 20px; font-size: 14px;">
			<div class="config-option-ie11-overflow-fix table-responsive">

				<table class="custom-config-table">
					<tr>
						<th>Name</th>
						<th>Link</th>
						<th>Remove</th>
					</tr>
					<tr>
						<td style="text-align: left; vertical-align: middle;"><input type="text" style="background-color:transparent; border-color:transparent" ng-model="config.headerLink.Name"/></td>
						<td style="text-align: left; vertical-align: middle;"><input type="text" style="background-color:transparent; border-color:transparent" ng-model="config.headerLink.Url"/></td>
						<td disabled><div><img class="removebutton" src='Scripts/app/editor/tools/ext/Icons/trashcan.png'></img></div></td>
					</tr>
					<tr ng-repeat="item in config.Links">

						<td style="text-align: left; vertical-align: middle;"><input type="text" style="background-color:transparent; border-color:transparent" ng-model="item.Name"/></td>
						<td style="text-align: left; vertical-align: middle;"><input type="text" style="background-color:transparent; border-color:transparent" ng-model="item.Url"/></td>
						<td><div ng-click="config.deleteRow($index)"><img class="removebutton" src='Scripts/app/editor/tools/ext/Icons/trashcan.png'></img></div></td>
					</tr>
				</table>
				<button type="button" ng-click="config.AddNewLink()" class="custom-config-button">Add new link </button>

			</div>
		</div>

    </li>

</ul>
