<!-- <div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:15px">General</span>
</div>

<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:15px">Display Format</span>
</div>

<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:15px">Trace Format</span>
</div> -->

<ul kendo-panel-bar class="t-side-panel-bgcolor" style="font-size: 14px;" role="menu">
    <li class="k-item k-state-active" role="menuitem">
        <span class="k-link k-header">
			<span>General</span>
			<span class="k-icon k-i-arrow-n k-panelbar-collapse"></span>
		</span>
		<div role="region"> 
			<div class="config-option-format">   
				<cs-color-picker colorkeyword="Background" ng-model="config.BackgroundColor" config="config"></cs-color-picker>
			</div>
			<div class="config-option-format">   
				<cs-color-picker colorkeyword="Text" ng-model="config.TextColor" config="config"></cs-color-picker>
			</div>		
			
			<div class="config-option-format">   
				placeholder for Single/Multi Scale 
				
			</div>	
			<div class="config-option-format">   
				placeholder for 
				min.max scale settings
				
				placeholder for label Date Format
			</div>			
		
		</div>
		
		
    </li>

    <li class="k-item k-state-active" role="menuitem">
        <span class="k-link k-header">
			<span>Display Format</span>
			<span class="k-icon k-i-arrow-n k-panelbar-collapse"></span>
		</span>
		<div role="region">
	
			<div class="config-option-format">   
				placeholder to Enable / disable Markers (bullets)
			</div>	
			
			<div class="config-option-format">
				<div class="config-option-single-row" style="margin: 4px 0;">
					<div class="config-label">Label Rotation:</div>
					<input class="config-option-single-row-input" type="range" min="0" max="360" step="5" ng-model="config.LabelRotation" style="width:100px; height:100%;" title="{{config.LabelRotation}}">
				</div>
			</div>
			<div class="config-option-format">
				<label>
					<input type="radio" class="c-config-radio"  ng-model="config.Rotate" ng-value="false">
					<img src="Scripts/app/editor/symbols/ext/Icons/sin-right.png" width="30" height="30"/>				
				</label>
				<label>
					<input type="radio" class="c-config-radio"  ng-model="config.Rotate" ng-value="true">
					<img src="Scripts/app/editor/symbols/ext/Icons/sin-down.png" width="30" height="30"/>
				</label>		
			</div>	
		
			<div class="config-option-format">
				<div >
					Legend Position<br />
					<select class="trend-config-option-list"  ng-model="config.LegendPosition" ng-options="position for position in config.Positions" style="margin-top: 10px;"></select>						
				</div>
			</div>
		</div>
		       
    </li>

    <li class="k-item k-state-active" role="menuitem">
		<span class="k-link k-header">
			<span>Trace Format</span>
			<span class="k-icon k-i-arrow-n k-panelbar-collapse"></span>
		</span>
		<div role="region"> 
			
			<div class="config-option-format">   
				Selected Trace:
				<select class="trend-config-option-list" ng-init="config.selectedStream = config.Graphs[0]" ng-model="config.selectedStream" ng-options="graph.title for graph in config.Graphs" style="margin-top: 10px; background-color: white"></select>
			</div>
			
			<div class="config-option-format">   
				
				<div ng-repeat="graph in config.Graphs | filter: config.selectedStream">
					<div >
							<div >
								Trace Type<br />
								<select class="trend-config-option-list"  ng-model="graph.type" ng-options="type for type in config.GraphTypes" style="margin-top: 10px;"></select>						
							</div>
					</div>
					<div style="margin-top: 10px;">
						<cs-color-picker colorkeyword="Line Color:" ng-model="graph.lineColor" config="config"></cs-color-picker>
					</div>		
					
					<div class="config-option-single-row" style="margin: 4px 0;" ng-show="graph.type == 'column'">
							<div class="config-option-ie11-overflow-fix">
								<div class="config-label">Column Width:</div>
								<input class="config-option-single-row-input" type="range" min="5" max="60" step="1" ng-model="graph.fixedColumnWidth" style="width:100px; height:100%;" title="{{graph.fixedColumnWidth}}">
							</div>
					</div>
					
					<div class="config-option-single-row" style="margin: 4px 0;">
							<div class="config-option-ie11-overflow-fix">
								<div class="config-label">Line Weight:</div>
								<input class="config-option-single-row-input" type="range" min="0.7" max="4.7" step="0.5" ng-model="graph.lineThickness" style="width:100px; height:100%;" title="{{graph.lineThickness}}">
							</div>
					</div>
					<div >
							<div >
								Marker Type<br />
								<select class="trend-config-option-list"  ng-model="graph.bullet" ng-options="bullet for bullet in config.Bullets" style="margin-top: 10px;"></select>
								
							</div>
					</div>
					<div style="margin-top: 10px;">
						<cs-color-picker colorkeyword="Marker Color:" ng-model="graph.bulletColor" config="config"></cs-color-picker>
					</div>
				</div>
				
			</div>
		    
		</div>
    </li>
	<li class="k-item" role="menuitem">
        <span class="k-link k-header">
			<span>About</span>
			<span class="k-icon k-i-arrow-n k-panelbar-collapse"></span>
		</span>
		<div role="region"> 
			<div class="config-option-format">   
				This is an example of custom symbol made with the PI Vision Extensibility Framework.
			</div>	
			<div class="config-option-format">   
				<a  href="https://github.com/AnnaPerry/PI-Coresight-Custom-Symbols/tree/master/Community%20Samples/OSIsoft/amcharts-linechart" target="_blank" >
					<img style="vertical-align:middle" src="Scripts/app/editor/symbols/ext/Icons/GitHub-Mark-32px.png" alt="GitHub repository with source code" height="32" width="32"/>
				</a>
				<span>Explore source code.</span>
			</div>	
			<div class="config-option-format">   
				<a href="https://pisquare.osisoft.com/community/developers-club/pi-visualization-development" target="_blank" >
					<img style="vertical-align:middle" src="Scripts/app/editor/symbols/ext/Icons/Q.png" alt="PI Square public forum" height="32" width="32"/>
				</a>	
				Need help? Ask PI Square.
			</div>					
		</div>
		
		
    </li>
</ul>
